<div class="container">
  <%= render "posts/posts" %>

  <div class="container text-center mt-2 w-75">
    <%= link_to 'New Post', new_admin_post_path, class: "py-3 w-100 btn btn-primary" %>
  </div>
</div>
