<!DOCTYPE html>
<html>
<head>
  <title>PDF</title>
  <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", media: "all" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
</head>
<body>

<div class='container'>
  <%= yield %>
</div>

</body>
</html>